In [3]:
import numpy as np

import pandas as pd

In [7]:
dates = pd.date_range("20130101", periods=6)

dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01 -0.742038  1.634881  1.343994 -0.195715
2013-01-02  0.699310 -0.022518 -0.359163  1.974134
2013-01-03 -1.394382  0.569009 -0.244224 -0.752738
2013-01-04 -1.912857 -0.331603  0.647700  0.134071
2013-01-05 -0.773153  0.622811 -1.568979  0.527875
2013-01-06 -1.349052 -0.519998  0.594802  0.343237

In [8]:
df.mean() # 컬럼별로 평균

A   -0.912029
B    0.325430
C    0.069022
D    0.338477
dtype: float64

In [9]:
df.mean(1) # 행별로 평균

2013-01-01    0.510280
2013-01-02    0.572941
2013-01-03   -0.455584
2013-01-04   -0.365672
2013-01-05   -0.297862
2013-01-06   -0.232753
Freq: D, dtype: float64

Join Merge

In [13]:
df = pd.DataFrame(np.random.randn(10, 4))

df

          0         1         2         3
0  0.078335  1.247698  0.322843  1.129402
1 -1.027688  0.625728 -1.329574 -0.805358
2  1.027934  0.465656  0.094405 -0.782132
3 -0.454021  0.314192 -0.911659 -0.118772
4 -0.172999  0.770881  0.626628  1.619985
5  1.082766 -1.387326  2.495674  0.352677
6  1.409974  0.327217 -1.472967 -0.003351
7  1.730887  0.915484  1.548823 -1.251002
8  0.044346 -0.131092  1.861884 -1.117994
9  1.887351 -1.668406 -1.270740 -0.867550

In [15]:
pieces = [df[:3], df[3:7], df[7:]]

# pd.concat(pieces)
pieces

[          0         1         2         3
 0  0.078335  1.247698  0.322843  1.129402
 1 -1.027688  0.625728 -1.329574 -0.805358
 2  1.027934  0.465656  0.094405 -0.782132,
           0         1         2         3
 3 -0.454021  0.314192 -0.911659 -0.118772
 4 -0.172999  0.770881  0.626628  1.619985
 5  1.082766 -1.387326  2.495674  0.352677
 6  1.409974  0.327217 -1.472967 -0.003351,
           0         1         2         3
 7  1.730887  0.915484  1.548823 -1.251002
 8  0.044346 -0.131092  1.861884 -1.117994
 9  1.887351 -1.668406 -1.270740 -0.867550]

In [12]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

print(left)
print(right)

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5

In [11]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5